@use "../base/variables" as v;
@use "../base/mixins" as m;

.layout {
  height: 100vh;
  &_grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 3rem;
  }
  &_content {
    padding: 2rem 0;
    display: grid;
    grid-template-rows: 660px 18rem;
    gap: 3rem;
  }
  &_pages {
    box-shadow: rgb(19, 19, 19) 0px 8px 24px;
    border-radius: 1.2rem;
    background-color: v.$bgSidebar;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1.9rem 2.9rem;
  }
  &_sound {
    box-shadow: rgb(19, 19, 19) 0px 8px 24px;
    border-radius: 2rem;
    background: linear-gradient(#1f3672, #112350);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    &-image {
      padding-left: 4rem;
      img {
        object-fit: cover;
        height: 15rem;
        width: 30rem;
        border-radius: 2rem;
        display: block;
      }
    }
    &-input {
      width: 100%;
    }
  }
}
.navbar {
  padding: 2rem 0;
}
.content {
  padding: 2rem 0;
}
::-webkit-scrollbar {
  width: 0.1rem;
}
::-webkit-scrollbar-track {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: v.$gray;
  border-radius: 10rem;
}
